.background{
  background-image: url(sunny-day.jpg);
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  
}

.img{
  background-image: url(kitten-medium.png);
  background-size: 30%;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px){
  .background{
    background-image: url(night.jpg);    
  }
  
  .img{
    background-image: url(kitten-small.png);
  }
}

@media screen and (max-width: 600px){
  .background{
    background-image: url(dawn.png);
  }
  
  .img{
    background-image: url(kitten-large.png);
  }

}